html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Bebas Neue", "sans-serif";
}

a {
  text-decoration: none;
}

/*HEADER*/

.nav-principal {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0 5rem 0 5rem;
  justify-content: space-between;
  border-bottom: 1px solid #e0d6d683;
}
.nav-principal img {
  height: 7rem;
  margin-right: 15rem;
}
.nav-principal a {
  color: rgba(79, 181, 171, 1);
  font-size: 2rem;
}
@media (max-width: 390px) {
  .nav-principal {
    display: grid;
    grid-template-columns: auto;
    margin: 0 5rem 0 5rem;
    text-align: center;
  }
  .nav-principal img {
    margin-left: 9rem;
  }
  .nav-principal a {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-right: 6rem;
  }
}

/*MAIN*/

.contenido {
  margin: 0 59.2rem 0 5rem;
}
.contenedor-principal {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(193, 179, 179, 0.702)
  );
  height: 72.5rem;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}
@media (max-width: 768px) {
  .contenedor-principal {
    height: 115rem;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .contenedor-principal {
    height: 67.5rem;
    display: flex;
    flex-direction: column;
  }
}
.contenedor-principal p {
  font-size: 9rem;
  text-align: center;
  justify-content: center;
  width: 75rem;
  margin-bottom: 5rem;
}
.contenedor-principal p span {
  font-size: 8rem;
  font-family: "Calligraffitti", cursive;
  font-weight: bold;
}
.contenido-izq {
  margin-left: 10rem;
}
@media (max-width: 768px) {
  .contenedor-principal p {
    font-size: 9rem;
    text-align: center;
    justify-content: center;
    width: 75rem;
  }
  .contenedor-principal p span {
    font-size: 7rem;
  }
  .contenido-izq {
    margin-left: 0;
  }
}
@media (max-width: 390px) {
  .contenedor-principal p {
    font-size: 4rem;
  }
  .contenedor-principal p span {
    font-size: 3rem;
  }
}

.contenido-dcha img {
  height: 70rem;
  max-width: 100%;
  margin-left: 15rem;
}
.boton-landing {
  border: 2px solid black;
  background-color: rgba(231, 196, 196, 0.572);
  width: 30rem;
  height: 12rem;
  text-align: center;
  font-size: 4rem;
  margin: 0 20rem 0 25rem;
  border-radius: 1rem;
}
@media (max-width: 768px) {
  .contenido-dcha img {
    height: 65rem;
    margin-left: 0rem;
  }
  .boton-landing {
    width: 30rem;
    height: 12rem;
    font-size: 4rem;
    margin: 0 20rem 0 22rem;
  }
}
@media (max-width: 390px) {
  .contenido-dcha img {
    height: 40rem;
  }
  .boton-landing {
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
    margin: 0 20rem 0 30rem;
  }
}

/* FOOTER */
.footer-pagina {
  display: grid;
  text-align: center;
  background-color: rgba(193, 179, 179, 0.702);
}
.contenido-footer {
  margin: 0 5rem 0 5rem;
  border-top: 1px solid #e1e1e1;
}
.footer-pagina img {
  max-width: 3rem;
}

/*SOBRE NOSOTROS*/
.contenedor-principal-qs {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(193, 179, 179, 0.702)
  );
  margin-top: 10rem;
  height: 140rem;
  display: flex;
  flex-direction: column;
}
.parte-arriba {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  width: 140rem;
  height: 50rem;
}
.quienes-somos {
  margin: 0 10rem 0 10rem;
  display: flex;
  flex-direction: column;
}
.quienes-somos h1 {
  font-size: 5rem;
}
.quienes-somos p {
  font-family: Barlow Condensed, sans-serif;
  font-size: 3rem;
  text-align: justify;
}
.imagen-sobre-nosotros {
  margin-left: 7rem;
}
.imagen-sobre-nosotros img {
  width: 85%;
}

.parte-abajo {
  margin-top: 10rem;
  margin-left: 10rem;
}

.parte-abajo h1 {
  font-size: 5rem;
}

.formulario {
  background-color: rgba(193, 179, 179, 0.311);
  font-family: Barlow Condensed, sans-serif;
  margin-left: 40rem;
  margin-top: 10rem;
  width: 40rem;
  height: 50rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario label {
  font-size: 2rem;
  margin-top: 2rem;
}
.formulario input {
  height: 3rem;
  width: 30rem;
  font-size: 2rem;
}
.formulario textarea {
  height: 15rem;
  width: 30rem;
  font-size: 2rem;
}
