html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Bebas Neue", "sans-serif";
}

a {
  text-decoration: none;
}

/*HEADER*/

.nav-principal {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e0d6d683;
  margin: 0 5rem 0 5rem;
}
.nav-principal img {
  height: 7rem;
}
.nav-principal a {
  color: rgba(79, 181, 171, 1);
  margin-left: 6rem;
  margin-right: 6rem;
  text-align: center;
}
.nav-principal li {
  text-align: center;
}

.elementos-navegacion {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding-left: 45rem;
}
@media (max-width: 768px) {
  .elementos-navegacion {
    padding: 0;
  }
  .nav-principal img {
    margin-right: 5rem;
  }
  .nav-principal a {
    margin-left: 4rem;
    margin-right: 2rem;
  }
}
@media (max-width: 390px) {
  .contenedor-navegacion {
    max-width: 39rem;
  }
  .elementos-navegacion {
    max-width: 39rem;
    padding: 0;
  }
  .nav-principal {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .nav-principal a {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav-principal img {
    margin-right: 0rem;
  }
}

/*MAIN*/

.contenido {
  margin: 0 59.2rem 0 5rem;
}
.contenedor-principal {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(193, 179, 179, 0.702)
  );
  height: 72.25rem;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}
@media (max-width: 768px) {
  .contenedor-principal {
    height: 115rem;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .contenedor-principal {
    height: 67.5rem;
    display: flex;
    flex-direction: column;
  }
}
.contenedor-principal p {
  font-size: 9rem;
  text-align: center;
  justify-content: center;
  width: 75rem;
  margin-bottom: 5rem;
}
.contenedor-principal p span {
  font-size: 8rem;
  font-family: "Calligraffitti", cursive;
  font-weight: bold;
}
.contenido-izq {
  margin-left: 10rem;
}
@media (max-width: 768px) {
  .contenedor-principal p {
    font-size: 9rem;
    text-align: center;
    justify-content: center;
    width: 75rem;
  }
  .contenedor-principal p span {
    font-size: 7rem;
  }
  .contenido-izq {
    margin-left: 0;
  }
}
@media (max-width: 390px) {
  .contenedor-principal p {
    font-size: 4rem;
  }
  .contenedor-principal p span {
    font-size: 3rem;
  }
}

.contenido-dcha img {
  height: 70rem;
  max-width: 100%;
  margin-left: 15rem;
}
.boton-landing {
  border: 2px solid black;
  background-color: rgba(231, 196, 196, 0.572);
  width: 30rem;
  height: 12rem;
  text-align: center;
  font-size: 4rem;
  margin: 0 20rem 0 25rem;
  border-radius: 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .contenido-dcha img {
    height: 65rem;
    margin-left: 0;
  }
  .boton-landing {
    width: 30rem;
    height: 12rem;
    font-size: 4rem;
    margin: 0 20rem 0 22rem;
  }
}
@media (max-width: 390px) {
  .contenido-dcha img {
    height: 40rem;
  }
  .boton-landing {
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
    margin: 0 20rem 0 30rem;
  }
}

/* FOOTER */
.footer-pagina {
  display: grid;
  text-align: center;
  background-color: rgba(193, 179, 179, 0.702);
}
.contenido-footer {
  margin: 0 5rem 0 5rem;
  border-top: 1px solid #e1e1e1;
}
.footer-pagina img {
  max-width: 3rem;
}

/*SOBRE NOSOTROS*/
.contenedor-principal-sn {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(193, 179, 179, 0.702)
  );
  margin-top: 10rem;
  height: 140rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .contenedor-principal-sn {
    margin-top: 10rem;
    height: 190rem;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .contenedor-principal-sn {
    margin-top: 3rem;
    height: 150rem;
    display: flex;
    flex-direction: column;
  }
}
.parte-arriba {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  width: 140rem;
  height: 70rem;
}
.parte-arriba img {
  width: 80%;
}
@media (max-width: 768px) {
  .parte-arriba {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130rem;
  }
  .parte-arriba img {
    width: 60%;
  }
}
@media (max-width: 390px) {
  .parte-arriba {
    height: 70rem;
    display: flex;
    flex-direction: column;
  }
}

.quienes-somos {
  margin: 0 10rem 0 10rem;
  display: flex;
  flex-direction: column;
}
.quienes-somos h1 {
  font-size: 5rem;
}
.quienes-somos p {
  font-family: Barlow Condensed, sans-serif;
  font-size: 3rem;
  text-align: justify;
}
@media (max-width: 390px) {
  .quienes-somos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40rem;
    margin-top: 0rem;
  }
  .quienes-somos h1 {
    font-size: 3rem;
    margin: 4rem;
  }
  .quienes-somos p {
    font-family: Barlow Condensed, sans-serif;
    font-size: 2rem;
    text-align: justify;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 0;
  }
}
.imagen-sobre-nosotros {
  margin-left: 7rem;
  width: 50rem;
}
.imagen-sobre-nosotros img {
  width: 100%;
}

.parte-abajo {
  margin: 10rem;
}

.parte-abajo h1 {
  font-size: 5rem;
}

.formulario {
  background-color: rgba(193, 179, 179, 0.311);
  font-family: Barlow Condensed, sans-serif;
  margin-left: 40rem;
  margin-top: 10rem;
  margin-bottom: 7rem;
  width: 40rem;
  height: 50rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario label {
  font-size: 2rem;
  margin-top: 2rem;
}
.formulario input {
  height: 3rem;
  width: 30rem;
  font-size: 2rem;
}
.formulario textarea {
  height: 15rem;
  width: 30rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .parte-abajo {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 5rem;
    width: 100%;
  }
  .parte-abajo h1 {
    font-size: 3rem;
  }
  .formulario {
    margin: 5rem;
    margin-left: 7rem;
  }
}
@media (max-width: 390px) {
  .imagen-sobre-nosotros {
    margin: 7rem;
  }
  .imagen-sobre-nosotros img {
    margin-right: 0rem;
  }
  .parte-abajo {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10rem;
    width: 39rem;
  }
  .parte-abajo h1 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .formulario {
    margin-left: 3rem;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 32em;
    height: 50rem;
  }
  .formulario label {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .formulario input {
    height: 3rem;
    width: 22rem;
    font-size: 2rem;
  }
  .formulario textarea {
    height: 15rem;
    width: 22rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.enviar{
  cursor: pointer;
}

/*Catalogo*/

.contenedor-principal-cat {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(193, 179, 179, 0.702)
  );
  height: 290rem;
  display: flex;
  flex-direction: column;
}
.hombres-mujeres {
  width: 100%;
  height: 100rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.catalogo-hombres {
  margin: 5rem;
  height: 87rem;
}
.catalogo-hombres h1 {
  font-size: 4rem;
  text-align: center;
}
.catalogo-hombres img {
  width: 100%;
}

.catalogo-mujeres {
  margin: 5rem;
  height: 87rem;
}
.catalogo-mujeres h1 {
  font-size: 4rem;
  text-align: center;
}
.catalogo-mujeres img {
  width: 94.5%;
  max-height: 100%;
}
@media (max-width: 768px) {
  .contenedor-principal-cat {
    height: 560rem;
    display: flex;
    flex-direction: column;
  }
  .catalogo-hombres {
    height: 50rem;
  }
  .catalogo-mujeres {
    margin-top: 50rem;
  }
  .catalogo-mujeres img {
    width: 66.8rem;
  }
  .hombres-mujeres {
    display: flex;
    flex-direction: column;
    height: 220rem;
  }
}
@media (max-width: 390px) {
  .contenedor-principal-cat {
    height: 670rem;
    display: flex;
    flex-direction: column;
  }
  .catalogo-hombres {
    height: 50rem;
  }
  .catalogo-mujeres {
    margin-top: 0;
  }
  .catalogo-mujeres img {
    width: 100%;
  }
  .hombres-mujeres {
    display: flex;
    flex-direction: column;
    height: 120rem;
  }
}
.hombres {
  border-top: 1px solid #e1e1e1;
  font-size: 5rem;
  text-align: center;
  height: 100rem;
}
@media (max-width: 768px) {
  .hombres {
    height: 170rem;
  }
}
@media (max-width: 390px) {
  .hombres {
    height: 280rem;
  }
}

.hombres h2 {
  margin-bottom: 1rem;
}

.precio {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.articulos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  height: 60rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
@media (max-width: 768px) {
  .articulos {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 390px) {
  .articulos {
    display: grid;
    grid-template-columns: 100%;
  }
}
.articulos h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.boton-agregar-carrito {
  font-size: 2rem;
  cursor: pointer;
}

.articulo1 img {
  width: 100%;
  height: 50rem;
}
.articulo2 img {
  width: 100%;
  height: 50rem;
}
.articulo3 img {
  width: 100%;
  height: 50rem;
}
.articulo4 img {
  width: 100%;
  height: 50rem;
}
.articulo5 img {
  width: 100%;
  height: 50rem;
}
.articulo6 img {
  width: 100%;
  height: 50rem;
}
.articulo7 img {
  width: 100%;
  height: 50rem;
}
.articulo8 img {
  width: 100%;
  height: 50rem;
}
@media (max-width: 390px) {
  .articulo1 img {
    height: 40rem;
  }
  .articulo2 img {
    height: 40rem;
  }
  .articulo3 img {
    height: 40rem;
  }
  .articulo4 img {
    height: 40rem;
  }
  .articulo5 img {
    height: 40rem;
  }
  .articulo6 img {
    height: 40rem;
  }
  .articulo7 img {
    height: 40rem;
  }
  .articulo8 img {
    height: 40rem;
  }
}

.mujeres {
  font-size: 5rem;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}
@media (max-width: 390px) {
  .mujeres {
    height: 280rem;
  }
}
.mujeres h2 {
  margin-bottom: 1rem;
}

/*Eco-friendly*/

.contenedor-principal-eco {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(193, 179, 179, 0.702)
  );
  height: 72.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .contenedor-principal-eco {
    height: 130rem;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .contenedor-principal-eco {
    height: 125rem;
    display: flex;
    flex-direction: column;
  }
}
.compromiso {
  margin: 2rem;
  text-align: justify;
}
.compromiso h2 {
  margin-top: 2rem;
  font-size: 5rem;
  text-align: center;
}
.compromiso h3 {
  font-size: 3rem;
}
.compromiso p {
  font-family: Barlow Condensed, sans-serif;
  font-size: 2rem;
}
@media (max-width: 390px) {
  .compromiso {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .compromiso h3{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .compromiso p{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.izquierda-eco {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .izquierda-eco {
    justify-content: center;
  }
}
.derecha-eco {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
@media (max-width: 768px) {
  .derecha-eco {
    justify-content: center;
    margin-left: 0;
  }
}
.izquierda-eco img {
  height: 40rem;
  width: 50rem;
}
@media (max-width: 390px) {
  .izquierda-eco img {
    width: 25rem;
    height: 20rem;
  }
}
.derecha-eco img {
  width: 40rem;
  height: 40rem;
}
@media (max-width: 390px) {
  .derecha-eco img {
    width: 20rem;
    height: 20rem;
  }
}
